<div class="modal-header">
    <h3 class="modal-title pull-left">SHOPPING CART</h3>
    <span class="close-popup glyphicon glyphicon-remove pull-right" ng-click="cancel()"></span>
</div>
<div class="modal-body">
    <div class="cart-row">
        <div class="grid">
            <div class="grid-item text-right">
                <button class="btn" ng-class="btn" ng-click="goToCart()">Checkout</button>
                <button class="btn" ng-click="cancel()">Continue shopping</button>
            </div>
        </div>
    </div>


</div>
