<div class="modal-header">
    <h5 class="modal-title" id="modal-title">{{'cart.dialogs.clear_cart.title'| translate}}</h5>
</div>
<div class="modal-body" id="modal-body">
    <div class="empty-cart">{{'cart.dialogs.clear_cart.question' | translate}}</div>
</div>
<div class="modal-footer" id='modal-footer'>
    <div class="modal-actions">
        <button class="btn" ng-class="{ 'loading': cartIsUpdating }" ng-click="ok()">
            <span class="icon"></span>
            {{'cart.dialogs.clear_cart.clear' | translate}}
        </button>

        <button class="btn" ng-class="{ 'loading': cartIsUpdating }" ng-click="cancel()">
            <span class="icon"></span>
            {{'cart.dialogs.clear_cart.cancel' | translate}}
        </button>
    </div>
</div>
