<div class="modal-header" id="modal-title">
    <h3 class="modal-title pull-left">{{ 'customer.login.title' | translate }}</h3>
    <span class="close-popup" ng-click="cancel()"></span>
</div>
<div class="modal-body" id="modal-body">
    <div class="floating-labels vc-form">
        <div class="wrap">
            <div class="grid">
                <div class="grid-item large--one-third push--large--one-third text-center">
                    <form accept-charset="UTF-8" novalidate ng-submit="ok()" name="loginForm">
                        <label for="customer_email" class="hidden-label">{{ 'customer.login.email' | translate }}</label>
                        <input type="text" value="" ng-model="customerEmail" id="customer_email" placeholder="{{ 'customer.login.email' | translate }}" autocorrect="off" autocapitalize="off">

                        <label for="customer_password" class="hidden-label">{{ 'customer.login.password' | translate }}</label>
                        <input type="password" value="" ng-model="customerPassword" id="customer_password" placeholder="{{ 'customer.login.password' | translate }}">

                        <div class="form-group">
                            <div class="form-error" ng-if="authError">
                                {{authError}}
                            </div>
                        </div>
                        <p>
                            <a href="#">{{ 'customer.login.forgot_password' | translate }}</a>
                            <a href="#" ng-click="showSignUpPopUp()">{{ 'customer.login.sign_up' | translate }}</a>
                        </p>
                        <p><input type="submit" class="btn" value="{{ 'customer.login.sign_in' | translate }}"></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
