<div class="modal-header" id="modal-title">
    <h1 class="modal-title pull-left">Shopping cart</h1>
    <span class="close-popup" ng-click="cancel()"></span>
</div>
<div class="modal-body"  id="modal-body">
    <div ng-show="cart.items.length === 0" ng-cloak="">
        <div class="empty-cart">You shopping cart is empty</div>
    </div>

    <div ng-show="cart.items.length > 0" ng-cloak="">
        <form name="formCart" novalidate="novalidate">
            <div class="cart-list">
                <div class="list-item" ng-repeat="lineItem in cart.items">
                    <div class="row">
                        <div class="list-img">
                            <img class="list-pic" ng-src="{{ lineItem.imageUrl }}" />
                        </div>
                        <div class="col-sm-5 list-descr">
                            <span ng-bind="lineItem.name"></span>
                        </div>
                        <div class="col-sm-4 list-info">
                            <div class="row">
                                <div class="col-sm-6 list-count">
                                    <div class="js-qty">
                                        <input class="js-num" min="1" name="{{ 'item' + lineItem.id }}" type="number" ng-model="lineItem.quantity" ng-blur="changeLineItemQuantity(lineItem.id, lineItem.quantity)" />
                                        <span class="js--qty-adjuster js--add" ng-click="changeLineItemQuantity(lineItem.id, lineItem.quantity + 1)">+</span>
                                        <span class="js--qty-adjuster js--minus" ng-click="changeLineItemQuantity(lineItem.id, lineItem.quantity - 1)">-</span>
                                        <svg class="loader-spinner" viewBox="25 25 50 50">
                                            <circle class="path" cx="50" cy="50" r="20" />
                                        </svg>
                                    </div>
                                </div>
                                <div class="col-sm-6 list-price" ng-bind="lineItem.listPrice | currency : cart.currencySymbol"></div>
                            </div>
                            <div class="row" ng-if="formCart['item' + lineItem.id].$error.number || formCart['item' + lineItem.id].$error.min">
                                <div class="col-sm-12">
                                    <div class="alert alert-error" ng-if="formCart['item' + lineItem.id].$error.number">Please enter a number</div>
                                    <div class="alert alert-error" ng-if="formCart['item' + lineItem.id].$error.min">Quantity should be greater than 0</div>
                                </div>
                            </div>
                        </div>
                        <a class="list-remove" ng-click="removeLineItem(lineItem.id)" interactor-arg="{{ lineItem.id }}">
                            <span class="glyphicon glyphicon-trash"></span>
                        </a>
                    </div>
                </div>
                <div class="list-item-total">
                    <div class="row">
                        <div class="col-sm-6">
                            <label for="cartSpecialInstructions">Special instructions for seller</label>
                            <textarea class="input-full" id="cartSpecialInstructions" ng-model="cart.comment"></textarea>
                        </div>
                        <div class="col-sm-6 total">
                            <div class="list-total">
                                Items total
                                <div class="list-price" ng-bind="cart.subTotal | currency : cart.currencySymbol"></div>
                            </div>
                            <div class="modal-actions">
                                <button class="btn" type="button" ng-class="{ 'loading': cartIsUpdating }" ng-click="clearCart()">
                                    <span class="btn-text">Clear cart</span>
                                    <svg class="loader-spinner" viewBox="25 25 50 50">
                                        <circle class="path" cx="50" cy="50" r="20" />
                                    </svg>
                                </button>
                                <button class="btn" type="button" ng-class="{ 'loading': cartIsUpdating }" ng-click="ok()">
                                    <span class="btn-text">Checkout</span>
                                    <svg class="loader-spinner" viewBox="25 25 50 50">
                                        <circle class="path" cx="50" cy="50" r="20" />
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>  
</div>

