<div class="modal-header">
    <h3 class="modal-title pull-left">{{ 'customer.register.title' | translate }}</h3>
    <span class="close-popup" ng-click="cancel()"></span>
</div>
<div class="modal-body" id="modal-body">
    <div class="floating-labels vc-form">
        <div class="wrap">
            <div class="grid">
                <div class="grid-item large--one-third push--large--one-third text-center">
                    <form accept-charset="UTF-8" action="" ng-submit="signUp()">

                        <label for="customer_email" class="hidden-label">{{ 'customer.login.email' | translate }}</label>
                        <input type="text" value="" ng-model="customer['email']" id="customer_email" placeholder="{{ 'customer.login.email' | translate }}" autocorrect="off" autocapitalize="off">

                        <label for="customer_password" class="hidden-label">{{ 'customer.login.password' | translate }}</label>
                        <input type="password" value="" ng-model="customer['password']" id="customer_password" placeholder="{{ 'customer.login.password' | translate }}">

                        <div class="form-group">
                            <div class="form-error" ng-if="error">
                                {{error}}
                            </div>
                        </div>
                        <p>
                            <input type="submit" value="{{ 'customer.register.submit' | translate }}" class="btn">
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>